.separator {
  flex-shrink: 0;

  &--small {
    height: var(--padding-8px);
  }

  &--medium {
    height: var(--padding-12px);
  }

  &--large {
    height: var(--padding-16px);
  }

  &--24 {
    height: var(--padding-24px);
  }
}
