.separator {
  flex-shrink: 0;

  &--8 {
    height: var(--padding-8px);
  }

  &--12 {
    height: var(--padding-12px);
  }

  &--16 {
    height: var(--padding-16px);
  }

  &--10 {
    height: var(--padding-10px);
  }

  &--24 {
    height: var(--padding-24px);
  }
}
