// @type

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  color: var(--vscode-icon-foreground);
  cursor: pointer;

  &:hover {
    background-color: var(--vscode-toolbar-hoverBackground);
  }
}
