.options {
  display: flex;
  overflow: hidden;
  border-radius: var(--border-radius-4px);

  &__option {
    flex-grow: 1;
    text-align: center;
    padding: var(--padding-3px) var(--padding-8px);
    cursor: pointer;
    font-size: var(--font-size-11px);
    user-select: none;
    color: var(--vscode-foreground);
    background-color: var(--vscode-list-hoverBackground);

    &:hover {
      background-color: var(--vscode-toolbar-hoverBackground);
    }

    &--selected {
      color: var(--vscode-button-foreground);
      background-color: var(--vscode-button-background);

      &:hover {
        background-color: var(--vscode-button-background);
      }
    }
  }
}
