.container {
  padding: 0 var(--padding-12px);
}

.inner {
  display: flex;
  flex-direction: column;
  gap: var(--padding-4px);

  &--disabled {
    pointer-events: none;
    opacity: var(--disabled-opacity);
  }
}

.heading {
  color: var(--vscode-foreground);
  font-family: var(--vscode-font-family);
  font-weight: var(--vscode-font-weight);
  font-size: 11px;
  text-transform: uppercase;
}

.options {
  display: flex;
  overflow: hidden;
  border-radius: var(--border-radius-4px);

  &__option {
    flex-grow: 1;
    text-align: center;
    padding: 4px 8px;
    cursor: pointer;
    font-size: 12px;
    user-select: none;
    color: var(--vscode-foreground);
    background-color: var(--vscode-list-hoverBackground);

    &:hover {
      background-color: var(--vscode-toolbar-hoverBackground);
    }

    &--selected {
      color: var(--vscode-button-foreground);
      background-color: var(--vscode-button-background);

      &:hover {
        background-color: var(--vscode-button-hoverBackground);
      }
    }
  }
}
