// @type

.container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: var(--vscode-input-background);
  cursor: text;

  &:focus-within {
    outline: 1px solid var(--vscode-focusBorder);
    outline-offset: -1px;
  }
}

.textarea {
  padding: 8px;
  font-family: sans-serif;
  background-color: transparent;
  color: var(--vscode-input-foreground);
  border: none;
  resize: none;

  &:focus {
    outline: none;
  }
}

.footer {
  display: flex;
  bottom: 0;
  right: 0;
  padding: 6px;
  gap: 16px;
  justify-content: space-between;

  &__actions {
    flex-shrink: 0;
    display: flex;
    gap: 4px;

    > button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 20px;
      width: 20px;
      border-radius: 5px;
      cursor: pointer;
      color: var(--vscode-icon-foreground);

      &:hover {
        background-color: var(--vscode-toolbar-hoverBackground);
      }
    }
  }
}
