// @type

.container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: var(--vscode-input-background);
  cursor: text;
  border: 1px solid var(--vscode-commandCenter-inactiveBorder);

  &:focus-within {
    border-color: var(--vscode-commandCenter-activeBorder);
  }
}

.textarea {
  padding: 8px;
  font-family: sans-serif;
  background-color: transparent;
  color: var(--vscode-input-foreground);
  border: none;
  resize: none;

  &:focus {
    outline: none;
  }
}

.footer {
  display: flex;
  bottom: 0;
  right: 0;
  padding: 6px;
  gap: 16px;
  justify-content: space-between;

  &__modes {
    display: flex;
    gap: 4px;

    &__button {
      display: flex;
      align-items: center;
      gap: 4px;
      padding: 2px 6px;
      border-radius: 5px;
      color: var(--vscode-icon-foreground);
      font-size: 11px;

      &:hover {
        background-color: var(--vscode-toolbar-hoverBackground);
      }

      &--disabled {
        opacity: 0.5;
        cursor: not-allowed;

        &:hover {
          background-color: transparent;
        }
      }

      &--active {
        background-color: var(--vscode-button-background);
        color: var(--vscode-button-foreground);

        &:hover {
          background-color: var(--vscode-button-hoverBackground);
        }
      }
    }
  }

  &__actions {
    flex-shrink: 0;
    display: flex;
    gap: 4px;

    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 20px;
      width: 20px;
      border-radius: 5px;
      cursor: pointer;
      color: var(--vscode-icon-foreground);

      &:hover {
        background-color: var(--vscode-toolbar-hoverBackground);
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;

        &:hover {
          background-color: none;
        }
      }
    }
  }
}
