.container {
  display: flex;
  justify-content: flex-start;
  height: var(--header-height);
  flex-shrink: 0;
  padding: 1px 11px 0 var(--padding-12px);
  border-bottom: 1px solid var(--vscode-sideBarSectionHeader-border);
}

.tabs {
  display: flex;
  gap: var(--padding-4px);
  position: relative;

  &__tab {
    padding: 0 9px;
    margin-bottom: var(--padding-6px);
    border-radius: var(--border-radius-4px);
    cursor: pointer;
    font-size: var(--font-size-13px);
    color: var(--vscode-foreground);
    position: relative;
    font-weight: normal;

    &::before {
      color: var(--vscode-editor-foreground);
      content: attr(data-text);
      left: 50%;
      transform: translateX(-50%);
      visibility: hidden;
      position: absolute;
      font-weight: 600;
      white-space: nowrap;
    }

    &:hover {
      background-color: var(--vscode-toolbar-hoverBackground);
    }

    &--active {
      color: transparent;

      &::before {
        visibility: visible;
      }
    }
  }

  &__underline {
    position: absolute;
    bottom: 0px;
    height: 2px;
    background-color: var(--vscode-button-background);
    transition: var(--transition);
  }
}
