.container {
  display: flex;
  justify-content: space-between;
  height: var(--header-height);
  flex-shrink: 0;
  padding: var(--padding-2px) 11px 0 var(--padding-12px);
  border-bottom: 1px solid var(--vscode-sideBarSectionHeader-border);
}

.tabs {
  display: flex;
  gap: var(--padding-4px);

  &__tab {
    padding: 0 9px;
    margin-bottom: var(--padding-6px);
    border-radius: var(--border-radius-4px);
    cursor: pointer;
    font-size: var(--font-size-13px);
    color: var(--vscode-foreground);
    position: relative;
    font-weight: normal;

    &::before {
      color: var(--vscode-editor-foreground);
      content: attr(data-text);
      left: 50%;
      transform: translateX(-50%);
      visibility: hidden;
      position: absolute;
      font-weight: 600;
      white-space: nowrap;
    }

    &:hover {
      background-color: var(--vscode-toolbar-hoverBackground);
    }

    &--active {
      color: transparent;

      &::before {
        visibility: visible;
      }

      &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        bottom: -6px;
        left: 0;
        background-color: var(--vscode-button-background);
      }
    }
  }
}

.right {
  display: flex;
  gap: var(--padding-4px);

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    --size: 24px;
    padding: 0 4px;
    height: var(--size);
    border-radius: var(--border-radius-4px);
    opacity: 0.6;

    &:focus {
      outline: none;
    }

    &:hover {
      opacity: 1;
      background-color: var(--vscode-toolbar-hoverBackground);
    }

    > svg {
      height: 16px;
      fill: var(--vscode-icon-foreground);
    }
  }
}
