// @type
.container {
  padding: 5px 0 12px 0;
  display: flex;
  flex-direction: column;
}

.header {
  color: var(--vscode-foreground);
  font-size: 13px;
}

.model-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.model-select {
  display: flex;
  flex-direction: column;
  gap: 8px;

  label {
    font-size: 13px;
    color: var(--vscode-foreground);
  }

  select {
    width: 100%;
    padding: 4px;
    font-family: system-ui, sans-serif;
    font-size: 13px;
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    border: none;
    cursor: pointer;

    &:focus {
      outline: 1px solid var(--vscode-focusBorder);
      outline-offset: -1px;
    }

    option {
      background-color: var(--vscode-input-background);
      color: var(--vscode-input-foreground);
    }
  }
}