.container {
  position: relative;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-5px) 0 var(--padding-6px);
  height: 22px;
  border: 1px solid var(--vscode-dropdown-border);
  border-radius: var(--border-radius-2px);
  cursor: pointer;
  min-width: 150px;
  background-color: var(--vscode-dropdown-background);
  color: var(--vscode-dropdown-foreground);

  &--open {
    border-color: var(--vscode-focusBorder);
  }

  &__label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
    text-align: left;
    font-size: var(--font-size-12px);
  }

  &__icon {
    margin-left: 8px;
    color: var(--vscode-icon-foreground);
  }
}

.menu {
  position: absolute;
  right: 0;
  z-index: 2;
  background-color: var(--vscode-dropdown-background);
  border: 1px solid var(--vscode-focusBorder);
  min-width: 100%;
  max-height: 200px;
  overflow-y: auto;

  &__item {
    display: flex;
    align-items: center;
    height: 20px;
    padding: 0 var(--padding-6px);
    color: var(--vscode-menu-foreground);
    font-size: var(--font-size-12px);
    cursor: pointer;
    margin: 1px;

    &:hover {
      background-color: var(--vscode-menu-selectionBackground);
      color: var(--vscode-menu-selectionForeground);
    }

    &--selected {
      background-color: var(--vscode-menu-selectionBackground);
      color: var(--vscode-menu-selectionForeground);
    }
  }
}
