.with-quick-pick-trigger {
  display: flex;
  > button:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  > button:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 25px;
  }

  &__separator {
    width: 1px;
    background-color: var(--vscode-button-background);
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 1px;
      top: 50%;
      transform: translateY(-50%);
      height: calc(100% - 8px);
      background-color: var(--vscode-button-separator);
    }
  }
}

.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  min-height: 28px;
  font-size: 13px;
  padding: var(--padding-4px) var(--padding-16px);
  font-family: system-ui, sans-serif;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  background-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground);

  &:hover {
    background-color: var(--vscode-button-hoverBackground);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: var(--vscode-button-background);

    &:hover {
      background-color: var(--vscode-button-background);
    }
  }
}
