// @type

.container {
  display: flex;
  justify-content: flex-end;
}

.links {
  display: flex;
  gap: var(--padding-2px);
  font-size: 0.8em;
  color: var(--vscode-descriptionForeground);
  flex-wrap: wrap;
  justify-content: flex-end;

  > a {
    text-decoration: none;
    color: var(--vscode-descriptionForeground);

    &:hover {
      text-decoration: underline;
    }
  }

  > span {
    opacity: 0.7;
  }
}
