// @type

.container {
  display: flex;
  justify-content: flex-end;
}

.links {
  display: flex;
  gap: 3px;
  font-size: 0.85em;
  color: var(--vscode-descriptionForeground);

  > a {
    text-decoration: none;
    color: var(--vscode-descriptionForeground);

    &:hover {
      text-decoration: underline;
    }
  }

  > span {
    opacity: 0.7;
  }
}
