:root {
  --nextra-content-width: 1200px;
  --x-color-nextra-bg: white;
}

footer {
  white-space: pre;
}

article p a {
  color: #0070f3;
}

article p a:hover {
  text-decoration: underline;
}

footer a:hover {
  text-decoration: underline;
}
