.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding: var(--padding-2px) var(--padding-12px);
  height: 22px;
  border-radius: var(--padding-4px);
  cursor: pointer;

  &:disabled {
    opacity: var(--disabled-opacity);
    cursor: not-allowed;
  }

  &--primary {
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);

    &:hover:not(:disabled) {
      background-color: var(--vscode-button-hoverBackground);
    }
  }

  &--secondary {
    background-color: var(--vscode-button-secondaryBackground);
    color: var(--vscode-button-secondaryForeground);

    &:hover:not(:disabled) {
      background-color: var(--vscode-button-secondaryHoverBackground);
    }
  }
}
