.container {
  display: flex;
  flex-direction: column;
  gap: var(--padding-6px);
  text-align: center;
}

.heading {
  font-weight: 500;
}

.supporters {
  > div:nth-child(1) {
    font-size: var(--font-size-15px);
  }
  > div:nth-child(2) {
    font-size: var(--font-size-14px);
  }
  > div:nth-child(3) {
    font-size: var(--font-size-13px);
  }
}
