// @type

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.top {
  display: flex;
  align-items: center;
  gap: 10px;
  > span {
    color: var(--vscode-foreground);
  }
}

.presets {
  display: flex;
  flex-direction: column;

  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &__item {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--vscode-sideBarSectionHeader-border);

    &__header {
      display: flex;
      justify-content: space-between;
      min-height: 24px;
      cursor: pointer;

      &__title {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 4px 16px 4px 0;

        &--default {
          font-weight: 600;
        }

        > span {
          cursor: pointer;
        }
      }

      &__right {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        gap: 4px;
      }
    }

    &__details {
      display: flex;
      flex-direction: column;
      padding: 8px;
      background: var(--vscode-editor-background);
      border-radius: 5px;
      margin-bottom: 8px;

      &__actions {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;

        > label {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 4px;
          cursor: pointer;
          order: 1;
        }
      }

      &__row {
        display: flex;
        flex-direction: column;
        margin-bottom: 8px;
        gap: 12px;

        &:last-child {
          margin-bottom: 0;
        }

        &__checkbox {
          margin: 0;
          cursor: pointer;
        }

        &__field {
          display: flex;
          flex-direction: column;

          &__label {
            font-size: 11px;
            text-transform: uppercase;
            color: var(--vscode-descriptionForeground);
          }

          &__value {
            color: var(--vscode-foreground);
          }
        }
      }
    }
  }

  &__edit {
    margin-top: 12px;
  }
}
