// @type

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.status {
  display: flex;
  align-items: center;
  gap: 6px;
}

.dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  &--connected {
    background-color: var(--vscode-editorGutter-addedBackground);
  }
  &--disconnected {
    background-color: var(--vscode-editorGutter-deletedBackground);
  }
}

.links {
  display: flex;
  gap: 3px;
  font-size: 0.85em;
  color: var(--vscode-descriptionForeground);
  > a {
    text-decoration: none;
    color: var(--vscode-descriptionForeground);
    &:hover {
      text-decoration: underline;
    }
  }
}
