.list {
  display: flex;
  flex-direction: column;
  gap: var(--padding-12px);

  &__item {
    display: flex;
    flex-direction: column;
    gap: var(--padding-4px);

    &__heading {
      display: flex;
      gap: var(--padding-4px);
      align-items: center;
      color: var(--vscode-descriptionForeground);
      white-space: nowrap;

      > span {
        text-overflow: ellipsis;
        overflow: hidden;
      }

      > span:last-child {
        flex: 1;
      }

      &__username {
        color: black;
        background-color: #ffdd00;
        padding: var(--padding-2px) var(--padding-7px);
        font-weight: 600;
        border-radius: var(--border-radius-999px);
      }
    }

    &__note {
      font-size: var(--font-size-14px);
      background-color: var(--vscode-toolbar-hoverBackground);
      border-radius: var(--border-radius-8px);
      padding: var(--padding-4px) var(--padding-6px);
    }
  }
}
