// @type

.container {
  padding: 0 16px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions {
  display: flex;

  &__button {
    padding: 6px 16px;
    height: 40px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;

    &--save {
      color: white;
      background-color: #2196f3;

      &:hover {
        background-color: #0d8bf2;
      }
    }

    &--delete {
      color: white;
      background-color: red;

      &:hover {
        background-color: #e60000;
      }
    }
  }
}

.message {
  font-size: 14px;
  text-align: center;
}
