:root {
  @include variables;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0 var(--padding-12px);
}

button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}
