// @type

.container {
  padding: 5px 0 12px 0;
  display: flex;
  flex-direction: column;
}

.browser-extension-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  border-radius: 8px;
  border: 1px solid var(--vscode-panel-border);
  padding: 10px;
  background-color: var(--vscode-sideBar-background);
  > a {
    color: var(--vscode-textLink-foreground);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
