// @type

.container {
  padding: 5px 0 10px 0;
  display: flex;
  flex-direction: column;
}

.browser-extension-message {
  color: var(--vscode-foreground);
  border-radius: 8px;
  border: 1px solid var(--vscode-panel-border);
  padding: 10px;
  background-color: var(--vscode-sideBar-background);
  ul {
    margin: 5px 0 0 20px;
    padding: 0;
    li {
      margin-bottom: 5px;
    }
  }
  a {
    color: var(--vscode-textLink-foreground);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.connection-status {
  font-size: 0.9em;
  color: var(--vscode-gitDecoration-addedResourceForeground);
}

.footer {
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  gap: 5px;
  a {
    color: var(--vscode-textLink-foreground);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
