.container {
  height: 100%;
  overflow: hidden;
}

.inner {
  display: flex;
  flex-direction: column;
  gap: var(--padding-20px);
}

.configure {
  display: flex;
  flex-direction: column;
  gap: var(--padding-6px);

  > span {
    font-size: 12px;
  }
}

.api-tool {
  display: flex;
  flex-direction: column;
  gap: var(--padding-10px);
}
