.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--vscode-sideBar-background);
  position: relative;
  z-index: 2;
}

.header {
  display: flex;
  align-items: center;
  height: var(--header-height);
  gap: var(--padding-2px);
  padding: 0 var(--padding-12px) var(--padding-6px) var(--padding-14px);
  border-bottom: 1px solid var(--vscode-sideBarSectionHeader-border);
}

.back-label {
  font-size: var(--font-size-13px);
  color: var(--vscode-foreground);
}

.content {
  flex: 1;
  overflow: auto;
  padding: var(--padding-12px);
}
