@mixin variables {
  --header-height: 32px;

  --padding-2px: 2px;
  --padding-4px: 4px;
  --padding-5px: 5px;
  --padding-6px: 6px;
  --padding-7px: 7px;
  --padding-8px: 8px;
  --padding-10px: 10px;
  --padding-12px: 12px;
  --padding-14px: 14px;
  --padding-16px: 16px;
  --padding-20px: 20px;
  --padding-24px: 24px;

  --font-size-12px: 12px;
  --font-size-13px: 13px;
  --font-size-14px: 14px;
  --font-size-15px: 15px;

  --border-radius-3px: 3px;
  --border-radius-4px: 4px;
  --border-radius-6px: 6px;
  --border-radius-8px: 8px;

  --font-weight-500: 500;

  --disabled-opacity: 0.5;
}
