.container {
  position: relative;

  &__error {
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 0 var(--padding-8px);
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-style: italic;
    z-index: 1;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: var(--vscode-input-background);
    cursor: text;
    border: 1px solid var(--vscode-commandCenter-inactiveBorder);
    position: relative;

    &:hover {
      border-color: var(--vscode-commandCenter-activeBorder);
    }

    &:focus-within {
      border-color: var(--vscode-focusBorder);
    }

    &--disabled {
      opacity: var(--disabled-opacity);
      pointer-events: none;
      filter: blur(1px);
    }
  }
}

.textarea {
  padding: var(--padding-5px) var(--padding-7px);
  font-family: sans-serif;
  font-size: inherit;
  line-height: 1.5;
  background-color: transparent;
  color: var(--vscode-input-foreground);
  border: none;
  resize: none;
  position: relative;
  z-index: 1;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-break: break-word;
  letter-spacing: normal;
  overflow: hidden;

  &:focus {
    outline: none;
  }
}

.highlight-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: var(--padding-5px) var(--padding-7px);
  font-family: sans-serif;
  font-size: inherit;
  line-height: 1.5;
  pointer-events: none;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-break: break-word;
  z-index: 0;
  color: transparent;
  letter-spacing: normal;
  margin: 0;
}

.selection-keyword {
  background-color: var(--vscode-editor-selectionBackground);
  border-radius: 3px;
  padding: 0 1px;

  &--error {
    background-color: var(--vscode-diffEditor-removedLineBackground);
  }

  &--clickable {
    cursor: pointer;
    text-decoration: underline;
  }
}

.footer {
  display: flex;
  bottom: 0;
  right: 0;
  padding: var(--padding-6px);
  justify-content: space-between;

  &__left {
    display: flex;
    gap: var(--padding-4px);
    overflow: hidden;

    &__at-sign-button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: var(--padding-4px);
      height: 20px;
      width: 20px;
      border-radius: 5px;
      color: var(--vscode-icon-foreground);

      &:hover {
        background-color: var(--vscode-toolbar-hoverBackground);
      }

      > span {
        padding-bottom: var(--padding-2px);
      }
    }
  }

  &__right {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: var(--padding-4px);

    &__count {
      font-size: 0.9em;
      color: var(--vscode-descriptionForeground);
      margin-right: 3px;
    }

    &__icon-button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3px;
      height: 20px;
      width: 20px;
      border-radius: 5px;
      color: var(--vscode-icon-foreground);

      > svg {
        width: 9px;
        fill: var(--vscode-icon-foreground);
      }

      &:hover:enabled {
        background-color: var(--vscode-toolbar-hoverBackground);
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;

        &:hover {
          background-color: none;
        }
      }
    }

    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3px;
      height: 20px;
      padding: 0 4px;
      border-radius: 5px;
      color: var(--vscode-editor-foreground);
      border: 1px solid var(--vscode-commandCenter-inactiveBorder);
      font-size: 12px;

      > svg {
        width: 10px;
        fill: var(--vscode-icon-foreground);
      }

      &:hover:enabled {
        background-color: var(--vscode-toolbar-hoverBackground);
        border-color: var(--vscode-commandCenter-activeBorder);
      }

      &__ctrl {
        color: var(--vscode-icon-foreground);
        letter-spacing: -0.6px;
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;

        &:hover {
          background-color: none;
        }
      }

      &--secondary {
        @media (max-width: 370px) {
          > span {
            display: none;
          }
        }
      }
    }
  }
}
