.container {
  overflow-y: scroll;
  height: 100%;
  padding: var(--padding-12px);
  display: flex;
  flex-direction: column;
}

.button {
  display: flex;
  flex-direction: column;
  gap: var(--padding-6px);

  > span {
    font-size: var(--font-size-12px);
  }
}

.dimmed {
  opacity: var(--disabled-opacity);
}
