.container {
  overflow-y: scroll;
  height: 100%;
  padding: var(--padding-12px);
  display: flex;
  flex-direction: column;
}

.recent-donations {
  display: block;

  &--loading {
    opacity: var(--disabled-opacity);
  }
}
