.button {
  display: flex;
  justify-content: center;
  padding: var(--padding-6px) var(--padding-12px);
  border-radius: 999px;
  color: black;
  background-color: #ffdd00;
  transition: all 0.15s ease-out;

  > svg {
    height: 21px;
  }

  &:hover {
    transform: scale(0.98);
  }

  &:focus {
    outline: none;
  }
}
