.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.scrollable {
  overflow: hidden;
  flex: 1;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    height: 3px;
    width: 100%;
    opacity: 0;
    box-shadow: var(--vscode-scrollbar-shadow) 0 6px 6px -6px inset;
    top: 0;
  }

  &--shadow::before {
    opacity: 1;
  }
}

.inner {
  display: flex;
  flex-direction: column;
  padding: var(--padding-4px) 0 var(--padding-12px) 0;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: var(--padding-2px);
  width: 100%;
  background: var(--vscode-sideBar-background);
  padding: var(--padding-6px) 0 var(--padding-4px) 0;
  border-top: 1px solid var(--vscode-sideBarSectionHeader-border);

  &__commands {
    display: flex;
    flex-direction: column;
    gap: var(--padding-2px);

    &__heading {
      padding: 0 var(--padding-12px);
      font-size: 13px;
      color: var(--vscode-foreground);
      opacity: 0.7;
    }

    &__inner {
      display: flex;
      flex-direction: column;
    }
  }

  &__links {
    padding: 0 var(--padding-12px);
    display: flex;
    gap: var(--padding-6px);
    justify-content: space-between;
    color: black;

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      gap: var(--padding-2px);
      font-size: 12px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &:hover span:last-child {
        text-decoration: underline;
      }
    }

    &__left {
      overflow: hidden;
      a > span:last-child {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    &__right {
      display: flex;
      gap: var(--padding-6px);
    }
  }
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--padding-12px);

  &__right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--padding-6px);
  }
}

.chat-input {
  margin: 0 var(--padding-12px);
}

.edit-format {
  display: flex;
  flex-direction: column;
  gap: var(--padding-4px);
  padding: 0 var(--padding-12px);

  > span {
    font-size: var(--font-size-11px);
    color: var(--vscode-foreground);
    opacity: 0.7;
  }
}

.browser-extension-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--padding-4px);
  border-radius: var(--border-radius-10px);
  border: 1px solid var(--vscode-inputOption-activeBorder);
  padding: var(--padding-8px) var(--padding-10px);
  margin: 0 var(--padding-12px);
  background-color: var(--vscode-inputOption-activeBackground);
  color: var(--vscode-inputOption-activeForeground);

  > span {
    font-weight: 500;
  }

  > a {
    color: var(--vscode-inputOption-activeForeground);
  }
}

.apply-copied-chat-response {
  padding: 0 var(--padding-12px);
}
