.container {
  overflow-y: scroll;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--padding-12px) 0;
}

.chat-input {
  margin: 0 var(--padding-12px);
}

.browser-extension-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--padding-4px);
  border-radius: var(--padding-8px);
  border: 1px solid var(--vscode-panel-border);
  padding: var(--padding-10px);
  margin: 0 var(--padding-12px);
  background-color: var(--vscode-sideBar-background);
  > a {
    color: var(--vscode-textLink-foreground);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.apply-copied-chat-response {
  padding: 0 var(--padding-12px);
}
