.container {
  overflow-y: scroll;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--padding-8px) 0 var(--padding-12px) 0;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--padding-12px);
  gap: var(--padding-12px);
}

.chat-input {
  margin: 0 var(--padding-12px);
}

.browser-extension-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--padding-4px);
  border-radius: var(--border-radius-10px);
  border: 1px solid var(--vscode-inputOption-activeBorder);
  padding: var(--padding-8px) var(--padding-10px);
  margin: 0 var(--padding-12px);
  background-color: var(--vscode-inputOption-activeBackground);
  color: var(--vscode-inputOption-activeForeground);

  > span {
    font-weight: 500;
  }

  > a {
    color: var(--vscode-inputOption-activeForeground);
  }
}

.apply-copied-chat-response {
  padding: 0 var(--padding-12px);
}
