.container {
  display: flex;
  border-radius: var(--border-radius-999px);
  padding: var(--padding-2px);
  border: 1px solid var(--vscode-commandCenter-inactiveBorder);
  gap: var(--padding-2px);
  position: relative;
}

.option {
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 var(--padding-8px);
  height: 22px;
  cursor: pointer;
  font-size: var(--font-size-12px);
  border-radius: var(--border-radius-999px);
  white-space: nowrap;
  color: var(--vscode-foreground);

  &::before {
    content: attr(data-text);
    visibility: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 600;
    white-space: nowrap;
  }

  &:hover {
    background-color: var(--vscode-toolbar-hoverBackground);
  }

  &--active-immediate {
    &:hover {
      background-color: transparent;
    }
  }

  &--active {
    color: transparent;

    &::before {
      visibility: visible;
      color: var(--vscode-button-foreground);
    }
  }
}

.pill {
  position: absolute;
  top: 2px;
  bottom: 2px;
  border-radius: var(--border-radius-999px);
  background-color: var(--vscode-button-background);
  transition: var(--transition);
  z-index: 0;
}
